// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Colors
$pr-main: #42a5f5;
$pr-light: #80d6ff;
$pr-dark: #0077c2;
$pr-txt: #e3f2fd;

$sec-main: #4dd0e1;
$sec-light: #88ffff;
$sec-dark: #009faf;
$sec-txt: #212121;

// Font size
$s-font: 1.1rem;
$m-font: 1.2rem;
$l-font: 1.35rem;
$xl-font: 1.45rem;
