.dashboard {
  margin: $m-size;
}

.dashboard_header {
  color: $sec-txt;
  font-size: $xxl-font;
}

.dashboard_userName {
  font-size: $l-font;
  color: $teal-col;
}

.dashboard_msg {
  font-size: $s-font;
}
