.footer {
  display: block;
  background-color: $pr-dark;
  color: $pr-light;
  text-align: center;
  font-size: $s-font;
  line-height: $l-size;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}
