.header-navbar {
  background-color: $pr-main;
}
.header-menu_item {
  color: $pr-txt !important;
  font-size: $s-font;
  &.active {
    border-color: $pr-light !important;
    border-width: 2px !important;
  }
}
.header-avatar {
  max-width: 25px !important;
  max-height: 25px !important;
  margin: 0 -8px 0 0 !important;
  border-radius: 30% !important;
  align-self: center !important;
  cursor: pointer;
}
