.register-form {
  max-width: 500px;
  margin: auto;
  h1 {
    color: $sec-txt;
    font-size: $xxl-font;
    margin-top: $l-size;
  }
  h3 {
    color: $sec-txt;
    font-size: $l-font !important;
    text-transform: capitalize;
  }
}
.register_label {
  color: $sec-dark !important;
  font-size: $s-font;
}
.register_input {
  color: $sec-txt !important;
  border-color: $sec-dark !important;
}
.register_submBtn {
  margin-bottom: $xl-size !important;
}
.register__invalid {
  border: 1px solid $alarm-col !important;
}
.register_invalid-feedback {
  color: $alarm-col;
  font-size: x-small;
  font-weight: bold;
  margin: 5px 5px 0;
}
